<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="${basedir}logs/nlog/nlog-window.log">

	<variable name="logDirectory" value="${basedir}/logs" />

	<targets>
		<!-- allowAccessoryFormCreation: 获取或设置一个值，该值指示在目标初始化期间未找到指定的表单/控件组合时是否创建附件表单 -->
		<!-- messageRetention: 获取或设置消息保留策略，该策略确定目标在没有附加控件时或在控件之间切换时如何处理消息(None: 不保存、默认; OnlyMissed: 仅在没有附加目标控件的期间记录事件; All: 将所有事件存储在内部队列中) -->
		<!-- useDefaultRowColoringRules: 获取或设置一个值，该值指示是否使用默认着色规则。-->
		<target xsi:type="RichTextBox" name="richTextBox"
                layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] ${message}${onexception: \: ${exception:format=tostring}}"
                controlName="txtLog" formName="LogForm" autoScroll="true" maxLines="100"
                allowAccessoryFormCreation="false" messageRetention="OnlyMissed" useDefaultRowColoringRules="true">
			<row-coloring condition="level == LogLevel.Fatal" fontColor="DarkRed" />
			<row-coloring condition="level == LogLevel.Error" fontColor="Red" />
			<row-coloring condition="level == LogLevel.Warn" fontColor="Yellow" />
			<row-coloring condition="level == LogLevel.Info" fontColor="LightGreen" />
			<row-coloring condition="level == LogLevel.Debug" fontColor="LightBlue" />
			<row-coloring condition="level == LogLevel.Trace" fontColor="White" />
		</target>
		<target xsi:type="RichTextBox" name="richTextBoxOther"
		        layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] ${message}${onexception: \: ${exception:format=tostring}}"
		        controlName="txtLog" formName="LogFormOther" autoScroll="true" maxLines="100"
		        allowAccessoryFormCreation="false" messageRetention="OnlyMissed" useDefaultRowColoringRules="true">
			<row-coloring condition="level == LogLevel.Fatal" fontColor="DarkRed" />
			<row-coloring condition="level == LogLevel.Error" fontColor="Red" />
			<row-coloring condition="level == LogLevel.Warn" fontColor="Yellow" />
			<row-coloring condition="level == LogLevel.Info" fontColor="LightGreen" />
			<row-coloring condition="level == LogLevel.Debug" fontColor="LightBlue" />
			<row-coloring condition="level == LogLevel.Trace" fontColor="White" />
		</target>
		<!-- archiveAboveSize: 单个文件最大大小（单位B）, 下例： 20MB -->
		<!-- maxArchiveFiles: 保留的存档文件的最大数量 -->
		<!-- maxArchiveDays: 保存天数 -->
		<target xsi:type="File" name="traceFileAppender" encoding="utf-8"
                archiveAboveSize="20971520" maxArchiveFiles="10" maxArchiveDays="7"
                fileName="${logDirectory}/trace/${shortdate}.log"
                layout="[${longdate}] ${message}" />
		<target xsi:type="File" name="debugFileAppender" encoding="utf-8"
                archiveAboveSize="20971520" maxArchiveFiles="10" maxArchiveDays="7"
                fileName="${logDirectory}/debug/${shortdate}.log"
                layout="======================================================================
				       ${newline}[记录时间] ${longdate}
					   ${newline}[日志级别] ${level:uppercase=false}
					   ${newline}[当前版本] ${assembly-version}
					   ${newline}[线程编号] ${threadname:whenEmpty=${threadid}}
					   ${newline}[当前类名] ${logger}
					   ${newline}[当前行号] ${callsite:methodName=true}.${callsite-linenumber}
					   ${newline}[当前描述] ${message}
					   ${newline}[调用堆栈] ${stacktrace}
					   ${onexception: ${newline}[异常描述] ${exception:format=tostring}}" />
		<target xsi:type="File" name="infoFileAppender" encoding="utf-8"
                archiveAboveSize="20971520" maxArchiveFiles="30" maxArchiveDays="10"
                fileName="${logDirectory}/info/${shortdate}.log"
                layout="======================================================================
				       ${newline}[记录时间] ${longdate}
					   ${newline}[日志级别] ${level:uppercase=false}
					   ${newline}[当前版本] ${assembly-version}
					   ${newline}[线程编号] ${threadname:whenEmpty=${threadid}}
					   ${newline}[当前类名] ${logger}
					   ${newline}[当前行号] ${callsite:methodName=true}.${callsite-linenumber}
					   ${newline}[当前描述] ${message}
					   ${newline}[调用堆栈] ${stacktrace}
					   ${onexception: ${newline}[异常描述] ${exception:format=tostring}}" />
		<target xsi:type="File" name="warnFileAppender" encoding="utf-8"
                archiveAboveSize="20971520" maxArchiveFiles="50" maxArchiveDays="30"
                fileName="${logDirectory}/warn/${shortdate}.log"
                layout="======================================================================
				       ${newline}[记录时间] ${longdate}
					   ${newline}[日志级别] ${level:uppercase=false}
					   ${newline}[当前版本] ${assembly-version}
					   ${newline}[线程编号] ${threadname:whenEmpty=${threadid}}
					   ${newline}[出错类名] ${logger}
					   ${newline}[出错行号] ${callsite:methodName=true}.${callsite-linenumber}
					   ${newline}[错误描述] ${message}
					   ${newline}[调用堆栈] ${stacktrace}
					   ${onexception: ${newline}[异常描述] ${exception:format=tostring}}" />
		<target xsi:type="File" name="errorFileAppender" encoding="utf-8"
                archiveAboveSize="20971520" maxArchiveFiles="50" maxArchiveDays="30"
                fileName="${logDirectory}/error/${shortdate}.log"
                layout="======================================================================
				       ${newline}[记录时间] ${longdate}
					   ${newline}[日志级别] ${level:uppercase=false}
					   ${newline}[当前版本] ${assembly-version}
					   ${newline}[线程编号] ${threadname:whenEmpty=${threadid}}
					   ${newline}[出错类名] ${logger}
					   ${newline}[出错行号] ${callsite:methodName=true}.${callsite-linenumber}
					   ${newline}[错误描述] ${message}
					   ${newline}[调用堆栈] ${stacktrace}
					   ${onexception: ${newline}[异常描述] ${exception:format=tostring}}" />
		<target xsi:type="File" name="fatalFileAppender" encoding="utf-8"
                archiveAboveSize="20971520" maxArchiveFiles="50" maxArchiveDays="30"
                fileName="${logDirectory}/fatal/${shortdate}.log"
                layout="======================================================================
				       ${newline}[记录时间] ${longdate}
					   ${newline}[日志级别] ${level:uppercase=false}
					   ${newline}[当前版本] ${assembly-version}
					   ${newline}[线程编号] ${threadname:whenEmpty=${threadid}}
					   ${newline}[出错类名] ${logger}
					   ${newline}[出错行号] ${callsite:methodName=true}.${callsite-linenumber}
					   ${newline}[错误描述] ${message}
					   ${newline}[调用堆栈] ${stacktrace}
					   ${onexception: ${newline}[异常描述] ${exception:format=tostring}}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="richTextBox" />
		<logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="richTextBoxOther" />
		<logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="traceFileAppender" />
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugFileAppender" />
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFileAppender" />
		<logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warnFileAppender" />
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorFileAppender" />
		<logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="fatalFileAppender" />
	</rules>
</nlog>